
$primary-color:#430075;
$primary-text-color: white;

.margin-top-4{
    margin-top: 4px;
}

.margin-top-8{
    margin-top: 8px;
}

.mh-4 {
    margin: 4px 0pxs;
}

.mh-8 {
    margin: 8px 0px;
}

.mh-16 {
    margin: 16px 0px;
}


.mv-4 {
    margin: 0px 4px;
}

.mv-8 {
    margin: 0px 8px;
}

.mv-16 {
    margin: 0px 16px;
}

.mr-0{
    margin-right: 0px;
}

.mr-4{
    margin-right: 4px;
}

.mr-8{
    margin-right: 8px;
}

.mr-16{
    margin-right: 16px;
}

